In [1]:
import pandas as pd
import random

In [2]:
df_test = pd.read_csv('data/test.csv')
df_test = df_test[['id']]
df_test['log_price'] = [random.uniform(0, 8)]*len(df_test)
df_test

             id  log_price
0        986942   7.550882
1      16436737   7.550882
2      18209634   7.550882
3      15027024   7.550882
4      18074243   7.550882
5       8446914   7.550882
6      19362916   7.550882
7      16116059   7.550882
8      20912583   7.550882
9      13573101   7.550882
10     15938749   7.550882
11     13659214   7.550882
12      6239753   7.550882
13     11627400   7.550882
14     17794295   7.550882
15     15267276   7.550882
16      9476370   7.550882
17     14694999   7.550882
18     19847012   7.550882
19      8860277   7.550882
20      2975445   7.550882
21      1390712   7.550882
22     16144412   7.550882
23      1312673   7.550882
24      6645473   7.550882
25      7227023   7.550882
26     17283456   7.550882
27     13719227   7.550882
28     11413078   7.550882
29     15166399   7.550882
...         ...        ...
23081    840797   7.550882
23082   4880277   7.550882
23083  12816576   7.550882
23084  11626561   7.550882
23085  10051649   7.550882
23086  18406772   7.550882
23087   8776928   7.550882
23088   2811061   7.550882
23089  14606464   7.550882
23090   8564722   7.550882
23091    808919   7.550882
23092  10035324   7.550882
23093   1480015   7.550882
23094   8847624   7.550882
23095  18618632   7.550882
23096   6425382   7.550882
23097   7674543   7.550882
23098  12585689   7.550882
23099  17299278   7.550882
23100  18210259   7.550882
23101   1226155   7.550882
23102  16930596   7.550882
23103  10679702   7.550882
23104  13319386   7.550882
23105  18820769   7.550882
23106  15101498   7.550882
23107    298258   7.550882
23108   4917508   7.550882
23109  16645828   7.550882
23110  17797691   7.550882

[23111 rows x 2 columns]

In [3]:
df_test.to_csv('sampleSubmission.csv', index=False)